@using Sales.Backoffice.Models.Dto
@model List<BuyerDto>
@{
    ViewData["Title"] = "Buyers";
}

<div class="text-center">
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var buyer in Model)
                {
                    <td>@buyer.Name</td>
                }
            </tr>
        </tbody>
    </table>
</div>
