html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #d3d3d3 !important;
    height: 100vh !important;
    overflow: hidden !important;
}

footer {
    height: 2% !important;
}

header {
    height: 8% !important;
}

.main-container {
    max-width: 75% !important;
    text-align: -webkit-center !important;
    height: 86% !important;
    margin-top: 2vh !important;
}

.color-primary-gray {
    background-color: #bdbebd !important;
}

.default-card {
    max-width: 75% !important;
    text-align: start !important;
}
