@model Sales.Backoffice.Dto.Requests.CreatePersonContactListRequest

<div class="contact-item">
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input for="Contact" class="form-control" />
                <label for="Contact" class="form-label">Contact</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <input for="Type" class="form-control" />
                <label for="Type" class="form-label">Type</label>
            </div>
        </div>
    </div>
</div>
