@using Sales.Backoffice.Dto.Requests.Commands
@model CreateEmployeeRequest

@{
    ViewData["Title"] = "Create a new Employee";
}

<div class="card color-primary-gray default-card">
    <div class="card-header">
        <h5 class="card-title">New Employee</h5>
    </div>
    <div class="card-body">
        <form asp-action="Post" asp-controller="Employee" method="post" id="employee-form">
            <div class="form-row">
                <div class="col">
                    <fieldset>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-floating mb-3">
                                        <input asp-for="Name" class="form-control">
                                        <label asp-for="Name" class="form-label">Name</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating mb-3">
                                        <input asp-for="LastName" class="form-control">
                                        <label asp-for="LastName" class="form-label">Last Name</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating mb-3">
                                        <select asp-for="SexType" class="form-select">
                                            <option selected>Select</option>
                                            <option value="0">Male</option>
                                            <option value="1">Female</option>
                                        </select>
                                        <label asp-for="SexType" class="form-label">Sex</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating mb-3">
                                        <input asp-for="BirthDate" type="date" class="form-control">
                                        <label asp-for="BirthDate" class="form-label">Birth Date</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div id="documentsForm" class="col">
                    <fieldset>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-3">
                                    <div class="form-floating mb-3">
                                        <input asp-for="Rg" class="form-control">
                                        <label asp-for="Rg" class="form-label">Rg</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-floating mb-3">
                                        <input asp-for="Cpf" class="form-control">
                                        <label asp-for="Cpf" class="form-label">Cpf</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button class="btn btn-primary" type="button" id="add-contact-button">Add Contact</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div id="person-contact-list">
                                        <h4>Contacts</h4>
                                        <div id="contacts"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <button id="saveBtn" type="submit" class="btn btn-primary" onclick="">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            getElementById('add-contact-button')
                .addEventListener("click", function () {
                    addContact();
                });
        });

        function addContact() {
            var contactIndex = document.querySelectorAll(".contact-item").length;

            var contactHtml = `
                       <div class="contact-item input${contactIndex}" data-index="${contactIndex}">
                            <div class="row">
                                <div class="col-4">
                                    <div class="form-floating mb-3">
                                        <input name="PersonContactList[${contactIndex}].Contact" class="form-control" />
                                        <label>Contact</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-floating mb-3">
                                        <input name="PersonContactList[${contactIndex}].Type" type="number" class="form-control" />
                                        <label>Type</label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button id="" type="button" class="btn btn-primary" onclick="removeContactInputData(${contactIndex})">remove</button>
                                </div>
                            </div>
                        </div>
                    `;

            document.getElementById('contacts').insertAdjacentHTML('beforeend', contactHtml);
        }

        function removeContactInputData(inputDataIndex) {
            let htmlNode = document.querySelector(`[data-index='${inputDataIndex}']`);
            htmlNode.removeChild(htmlNode.children[0]);
        }
    </script>
}
